body {
  background-color: var(--color-custom);
}

.document-section {
  position: relative;
  top: 15px;
}

.head-document {
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: 2px solid rgb(163, 163, 163);
  align-items: center;
  background-color: rgb(50, 160, 223);
  cursor: pointer;
}

.head-document,
h5 {
  position: relative;
  top: 2px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.head-document:hover {
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: 2px solid rgb(163, 163, 163);
  align-items: center;
  background-color: rgb(18, 52, 71);
  cursor: pointer;
}

table {
  position: relative;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  top: 10px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}

.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.PhoneInput input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  // background-color: #00BBFF;
}

.PhoneInput input:focus {
  outline: none;
}

// .input-non-active input {
//   color: #000000;
// }

// .input-active input {
//   color: #000000;
// }

// #input-prop::placeholder {
//   color: #FEFA1D;
//   opacity: 1;
// }

// #input-prop:-ms-input-placeholder {
//   color: #FEFA1D;
//   opacity: 1;
// }

// #input-prop::-ms-input-placeholder {
//   color: #FEFA1D;
//   opacity: 1;
// }

// #input-prop {
//   caret-color: #FEFA1D;
//   text-indent: 10px;
// }